body {
  background-image: url('./Components/images/Background2.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  color:darkslategrey;
}

#searchBar{
  display:flex;
}

#nominatedBar{
  padding: 5px;
  margin-top: 10px;
  display:flex;
}

#scroll{
  overflow: scroll;
  border-radius: 3px;
  background: inherit;
  width: 100%;
  height: 500px;
  margin-top:20px;
}



#banner {
background-color: firebrick;
color: white;
font-size: 20pt;
font-weight: bold; 
transition-duration: 1s;
}
